DATABASE_URL=postgres://user:password@10.154.237.131:5432/skillmirror
NEXT_PUBLIC_API_URL=http://10.154.237.131:8000/api
NEXTAUTH_URL=http://10.154.237.131:3000
NEXTAUTH_SECRET=your_nextauth_secret
JWT_SECRET=Hr2i2tzsh9d
NODE_ENV=development