# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Django
db.sqlite3
media/
staticfiles/

# Next.js
.next/
out/
build/
coverage/

# IDE and Editors
.idea/
.vscode/

# Misc
.DS_Store
*.log
debug*.txt
debug*.py
tsc_errors.txt
